body{
    margin:0px;
    padding:0px;
}
#navbar{
    display:flex;
    padding-left:10px;
    padding-right:10px;
    justify-content:space-between ;
    width: 100%;
    height:80px;
    background-color: #fff;
    border: solid 2px #fff;
    box-shadow:
      inset 60px 0 120px #f0f,  /* left magenta */
      inset -60px 0 120px #0ff; /* right cyan */
    position:sticky ;
    top:10px;
   
}

a{
    text-decoration: none;
    color:white;
}
#navbar>h1{
    margin-left:20px ;
}
#options{
    display:flex;
    justify-content: space-between;
    gap:60px;
    align-items:center ;
    
}
body{
    background-color: #fff;
    border: solid 2px #fff;
    box-shadow:
      inset 60px 0 120px rgb(232, 162, 250),  /* left magenta */
      inset -60px 0 120px rgb(184, 250, 250); /* right cyan */
    
}
#container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 27px;
   gap:40px;

}
#container>div{
    margin-left:10px;
    height:auto;
    text-align: center;
    font-size: 18px;
  color: rgb(76, 22, 223);
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
    
}
@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #a00e80, 0 0 40px #1d73a5, 0 0 50px #273cfc, 0 0 60px #3ac9ec, 0 0 70px #30dde9;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #0d2cda, 0 0 40px #43d1db, 0 0 50px #f34fdd, 0 0 60px #fc66fc, 0 0 70px #5721eec9, 0 0 80px #0a438d;
    }
  }
  img{
    width:400px;
    height:300px;
  }
  #container>div>button{
   box-shadow: inset -60px 0 120px rgb(58, 101, 243);
   border:2px solid white;
   color:white;
   width:90px;
   height:30px;

  }
  